@charset "utf-8";
/* CSS Document */

.STYLE2 {
	color: #FFFFFF;
	font-weight: bold;
}

.STYLE3 {
	font-weight: bold;
	width: 140px;
}

.STYLE14 {
	font-weight: bold;
	width: 90px;
}

.STYLE5 {
	color: #009999
}

body {
	background-color: #FFFFFF;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.STYLE6 {
	font-size: 18px;
	font-weight: bold;
	color:#336699;
	}
.STYLE1 {
	color: #0000FF;
	font-weight: bold;
	font-family: "黑体";
}